@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F7EADB;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.content-grid {
    display: grid;
    margin: 0 auto;
    max-width: 375px;
}

.header, .content {
    border-radius: 20px;
    padding: 30px;
}

.header {
    background: #EC755D;
    color: white;
    display: flex;
    margin-bottom: 25px;
    margin-top: 15vh;

    .logo {
        margin-left: auto;
    }
}

.content {
    background: #FEFCF6;
}

.overview {
    display: flex;

    &__change {
        margin-left: auto;
        text-align: right;

        .percent {
            font-weight: 700;
        }
    }
}

@media only screen and (min-width: 540px) {
    .content-grid {
        max-width: 540px;
    }
}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 25px;

    a {
        color: hsl(228, 45%, 44%);
    }
}